.home
{
    width: 100%;
    height: 70vh;
    background: #212121;
}
.home_slider_container
{
    width: 100%;
    height: 100%;
}
.home_slider
{
    width: 100%;
    height: 100%;
}
.slider_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.home_slider .owl-dots
{
    position: absolute;
    bottom: 29px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.home_slider .owl-dots .owl-dot span
{
    width: 8px;
    height: 8px;
    background: #d2d2d2;
    margin-top: 5px;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-left: 6px;
}
.home_slider .owl-dots .owl-dot.active span
{
    background: #bda994;
}
.home_slider_content
{
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    -moz-transform: translateX(-50%);    /* Firefox */
    -ms-transform: translateX(-50%);     /* IE 9 */
    -o-transform: translateX(-50%);
    transform: translateX(-50%);         /* Standard syntax */
    width: 776px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 74px;
    padding-bottom: 55px;
    background: rgba(17,16,14,0.83);
}
.home_slider_content h1
{
    font-family: 'gill', sans-serif;
    font-size: 72px;
    line-height: 1.1;
    color: #FFFFFF;
}
.home_slider_text
{
    width: 72%;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'gill', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
.home_slider_nav
{
    position: absolute;
    top: 56.32%;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #939393;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: 10;
}
.home_slider_prev
{
    left: 177px;
}
.home_slider_next
{
    right: 177px;
}
.home_slider_nav:hover
{
    background: #ffa800;
}
